{% extends 'index.twig' %}

{% block name %}
	Shop->products DATAbase:
{% endblock %}

{% block content %}
	<table>
		<tr>
			<td>product id</td>
			<td>category id</td>
			<td>title</td>
			<td>description</td>
			<td>price</td>
			<td>image</td>
			<td></td>
		</tr>
		{% for item in products %}			
			<tr>
				<td>{{ item.id }}</td>
				<td>{{ item.category_id }}</td>
				<td>{{ item.title }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.price }}</td>
				<td><img src="{{ item.image }}"></td>
				<td><a href="popup.php?id={{ item.id }}">edit</a> / <a href="admin.php?action=delete&id={{ item.id }}>">delete</a></td>
			</tr>
		{% endfor %}
	</table>
	<p><a href="popup.php?action=add">Add new product</a></p>
{% endblock %}