{% extends 'index.twig' %}

{% block title %}
    Shop: cart
{% endblock %}

{% block content %}

	{% if product is iterable %}		
		<h1>Your cart</h1>
		<hr>
		<table>
				<tr>
					<td>Product uniq id/title:</td>
					<td>Product count:</td>
					<td>Image</td>
					<td>Edit:</td>
				</tr>
			{% for value in product %}
				<tr>
					<td>{{ value.id }} \ {{ value.title }}</td>
					<td>Amount: {{ value.item }} <br>
						Cost: {{ value.price }} $</td>
					<td><img src="{{ value.image }}" /></td>
					<td><a href="cart.php?action=delete&id={{ value.id }}">delete</a></td>
				</tr>
			{% endfor %}
				<tr>
					<td>Sum of items:</td><td>{{ items }}</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Total cost:</td>
					<td>{{ cost }}</td>
					<td></td>
					<td><a href="cart.php?action=order">Send order!</a></td>
				</tr>
				<tr>
					<td></td>
					<td><a href="cart.php?action=clearcart">Clear cart</a></td>
					<td><a href="catalog.php">Back to catalog</a></td>
					<td></td>
				</tr>
		</table>
			
	{% else %}
		<h2>No goods!</h2>
		<h3><a href="catalog.php">Go to catalog</a></h3>
	{% endif %}
{% endblock %}