{% extends 'index.twig' %}

{% block name %}
    Shop: catalog
{% endblock %}

{% block content %}
	<div id="content">
		<h1>Products</h1>
		<hr>
		<table>
			<tr>
				<td rowspan="2">product id</td>
				<td rowspan="2">category id</td>
				<td rowspan="2">title</td>
				<td rowspan="2">description</td>
				<td>sort by price</td>
				<td rowspan="2">image</td>
				<td rowspan="2"><a target="_blank" href="cart.php">Go to cart</a></td>
			</tr>
			<tr><td><a href="catalog.php?order=ASC">ASC</a>/<a href="catalog.php?order=DESC">DESC</a></td></tr>
			{% for item in products %}			
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.category_id }}</td>
					<td><a href="detail.php?id={{ item.id }}">{{ item.title }}</a></td>
					<td>{{ item.description }}</td>
					<td>{{ item.price }}</td>
					<td><img class="product" src="./{{ item.image }}"></td>
					<td><a class="cart" href="catalog.php?action=add&id={{ item.id }}" title="add to cart"></a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}